<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<script>-->
<!--    var username = [[${user.username}]]; /* 해당 코드는 자바스크립트에 맞지 않아 오류 발생 var username = "[[${user.username}]]"이 옳은 코드 */-->
<!--    var age = [[${user.age}]];-->

<!--    var username2 = /*[[${user.username}]]*/ "test username";-->

<!--    var user = [[${user}]];-->
<!--</script>-->

<!-- 자바스크립트 인라인 적용 후 -->
<script th:inline="javascript">
    var username = [[${user.username}]];
    var age = [[${user.age}]];

    var username2 = "test username";

    var user = [[${user}]];
</script>

</body>
</html>